<div *ngIf="data">
  <div class="header">
    <mat-icon>check_circle</mat-icon>
    <h1>Продукт успешно добавлен в вашу корзину</h1>
    <button mat-dialog-close class="btn-back">x</button>
  </div>

  <div class="content-info">
    <div class="left-side">
      <quill-view-html
        class="img"
        [content]="data.product.image"
      ></quill-view-html>
      <div class="left-side-info">
        <h3>{{ data.product.title }}</h3>
        <b>{{ data.product.price | currency }}</b>
        <span>Количество:{{ data.product.quantity }}</span>
      </div>
    </div>
    <div class="right-side">
      <p>
        У вас сейчас
        <span class="total-quantity">{{ data.totalQuantity$ | async }}</span>
        товаров в корзине.
      </p>
      <p class="total-price-products">
        Всего продуктов на сумму:
        <b>{{ data.totalPrice$ | async | currency }}</b>
      </p>
      <p class="total-shipping">Доставка: БЕСПЛАТНО</p>
      <p class="total-price">
        Итого: <b>{{ data.totalPrice$ | async | currency }}</b> (включая
        налоги.)
      </p>
    </div>
  </div>
  <div class="btn-wrap">
    <button mat-dialog-close class="btn-to-shop">Вернуться к покупкам</button>
  </div>
</div>
