<div class="container">
  <div class="collection-wrapper">
    <div class="left-side">
      <div class="left-side-title">
        <h2>Фильтровать по</h2>
      </div>
      <div class="left-side-filters-wrapper">
        <div class="cat-filter">
          <h3>Категориям</h3>
          <ul class="cat-filter-list">
            <li>
              <input
                type="checkbox"
                id="fruits"
                value="Fruits"
                (change)="onCategoryChange($event, 'Fruits')"
              />
              <label for="fruits">Фрукты</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="vegetable"
                value="Vegetable"
                (change)="onCategoryChange($event, 'Vegetable')"
              />
              <label for="vegetable">Овощи</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="juices"
                value="Juices"
                (change)="onCategoryChange($event, 'Juices')"
              />
              <label for="juices">Соки</label>
            </li>
          </ul>
        </div>
        <div class="size-filter">
          <h3>Размеру</h3>
          <ul class="size-filter-list">
            <li>
              <input
                type="checkbox"
                id="1l"
                name="1l"
                (change)="onMeasureValueChange($event, '1L')"
              />
              <label for="1l">1L</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="2l"
                name="2l"
                (change)="onMeasureValueChange($event, '2L')"
              />
              <label for="2l">2L</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="5l"
                name="5l"
                (change)="onMeasureValueChange($event, '5L')"
              />
              <label for="5l">5L</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="10l"
                name="10l"
                (change)="onMeasureValueChange($event, '10L')"
              />
              <label for="10l">10L</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="20l"
                name="20l"
                (change)="onMeasureValueChange($event, '20L')"
              />
              <label for="20l">20L</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="1kg"
                name="1kg"
                (change)="onMeasureValueChange($event, '1Kg')"
              />
              <label for="1kg">1Kg</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="2kg"
                name="2kg"
                (change)="onMeasureValueChange($event, '2Kg')"
              />
              <label for="2kg">2Kg</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="5kg"
                name="5kg"
                (change)="onMeasureValueChange($event, '5Kg')"
              />
              <label for="5kg">5Kg</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="10kg"
                name="10kg"
                (change)="onMeasureValueChange($event, '10Kg')"
              />
              <label for="10kg">10Kg</label>
            </li>
            <li>
              <input
                type="checkbox"
                id="20kg"
                name="20kg"
                (change)="onMeasureValueChange($event, '20Kg')"
              />
              <label for="20kg">20Kg</label>
            </li>
          </ul>
        </div>
        <div class="price-filter">
          <h3>Цене</h3>

          <mat-slider
            [min]="minPriceOfProductsArray"
            [max]="maxPriceOfProductsArray"
            discrete
          >
            <input [(ngModel)]="minPrice" matSliderStartThumb />
            <input [(ngModel)]="maxPrice" matSliderEndThumb />
          </mat-slider>

          <p>
            От<b>{{ minPrice | currency }}</b>
          </p>
          <p>
            До<b>{{ maxPrice | currency }}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="filters-wrapper">
        <h2>Greenbee</h2>
        <div class="filters-head">
          <div class="left-side-filters-head">
            <div class="view-type-btn">
              <button (click)="onBoxView()" [ngClass]="boxView ? 'active' : ''">
                <mat-icon>apps</mat-icon>
              </button>
              <button
                (click)="onFullView()"
                [ngClass]="fullView ? 'active' : ''"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <span>Показано &#8734; продуктов.</span>
          </div>

          <div class="select-filters-wrapper">
            <select
              class="custom-select"
              [(ngModel)]="selectedOption"
              (ngModelChange)="onOptionChange($event)"
            >
              <option value="default">По умолчанию</option>
              <option value="titleAsc">По алфавиту А-Я</option>
              <option value="titleDesc">По алфавиту Я-А</option>
              <option value="priceAsc">По возрастанию цены</option>
              <option value="priceDesc">По убыванию цены</option>
            </select>
            <span class="custom-arrow"></span>
          </div>
        </div>
      </div>
      <div
        class="products-list"
        *ngIf="products$ | async as products; else loading"
      >
        <app-product-page
          class="producst-list--item"
          [ngClass]="fullView ? 'active' : ''"
          *ngFor="
            let product of $any(products)
              | sortOfCategoryProductCollection : categoryFilters
              | sortOfMeasureProductCollection : measureFilters
              | sortOfPrice : minPrice : maxPrice
              | sortOfOrder : selectedOption
          "
          [product]="product"
          [fullView]="fullView"
        >
        </app-product-page>
      </div>
      <ng-template #loading>Загрузка продуктов...</ng-template>
    </div>
  </div>
</div>
