<div class="container">
  <div class="cart-wrapper" *ngIf="cartProducts.length > 0; else empty">
    <h2 class="cart-title">Корзина покупок</h2>
    <div class="cart-overview">
      <ul class="cart-overview-header">
        <li>Продукт</li>
        <li>Цена</li>
        <li>Кол-во</li>
        <li>Сумма</li>
      </ul>

      <ul
        class="products-list"
        *ngFor="let product of cartProducts; let idx = index"
      >
        <li class="img">
          <quill-view-html [content]="product.image"></quill-view-html>
        </li>
        <li class="title">{{ product.title }}</li>

        <li class="price">
          <b> {{ product.price | currency }}</b>
        </li>
        <li class="quantity">Кол-во</li>
        <li class="total-price">
          <b>{{ totalPrice | currency }}</b>
        </li>

        <li class="btn-wrapper">
          <mat-icon
            class="btn btn-del"
            (click)="onRemoveFromCart(product)"
            fontIcon="delete_outline"
          ></mat-icon>

        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #empty>
  <h2 class="empty-cart-title">Корзина пуста</h2>
</ng-template>
