.cart-wrapper {
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
}

.product-sum {
  color: #c64e4e;
}

.cart-total-content {
  border: 1px solid #e9e9e9;
  margin-left: 20px;
  width: 30%;
  padding: 0 20px;
  color: #666;
}

.cart-total-content--title {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid #e9e9e9;
  padding: 25px 0;
  span{
    color: #0049f2;
  }
}

.group-price {
  padding: 20px 0;
  border-bottom: 1px solid #222;
  .cart-total-product-price {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 900;
    }
  }
  .cart-total--shipping {
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 900;
    }
  }
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  color: #222;
}

.btn-checkout {
  margin-bottom: 30px;
  background: #424242;
  color: #fff;
  font-weight: 700;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background: #0d7a52;
  }
}

.cart-content {
  margin: 0 auto;
  width: 70%;
}

.cart-title {
  margin-bottom: 40px;
}

.img {
  max-width: 50px;
  margin-right: 20px;
}

.cart-overview-header {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.product-item {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.btn-del {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: #78b144;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.input-group {
  display: flex;
  align-items: center;
  // position: relative;
  input {
    max-width: 50px;
    color: #444;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ebebeb;
    background-color: #f6f6f6;
    text-align: center;
    border-radius: 3px;
    position: relative;
    outline: none;
  }
  button {
    position: absolute;
    height: 40px;
    border: 1px solid #ebebeb;
    color: #989898;
    background-color: #fff;
    line-height: 1;
    cursor: pointer;
  }

  .btn-dec {
    left: 30px;
  }
  .btn-inc {
    right: 28px;
  }
}

.btn-back-to-shop {
  padding: 0 20px;
  margin: 30px 0;
  background: #eee;
  color: #222;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background: #0d7a52;
    color: #fff;
  }
}