<div class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="icon-logo">
        <a [routerLink]="['/']"
          ><img src="./../../assets/images/logo.png" alt="logo"
        /></a>
      </div>
      <nav class="center-menu">
        <ul>
          <li>
            <a
              routerLinkActive="active"
              [routerLink]="['/']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Главная</a
            >
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="['/products-collection']"
              >Наши продукты</a
            >
          </li>
        </ul>
      </nav>
      <div
        class="right-menu"
        (mouseenter)="showCartPreview = true && cartProduct.length > 0"
      >
        <a [routerLink]="['/cart']">
          <mat-icon fontIcon="shopping_cart"></mat-icon>
          <span class="cart-products-count">{{ productCount }}</span>
        </a>
        <div class="cart-prewiev" *ngIf="showCartPreview">
          <app-cart-page-prewiev
            (mouseleave)="showCartPreview = false"
          ></app-cart-page-prewiev>
        </div>
      </div>
    </div>
  </div>
</div>
