.product {
  position: relative;
}

.btn-back {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: #0d7a52;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -40px;
}

.content-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image,
.content {
  flex: 1 1 50%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories span {
  margin-right: 50px;
}
.categories small {
  color: #666;
  font-weight: 600;
  font-size: 12px;
}

.price {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #0d7a52;
  line-height: 1;
}

.description {
  margin: 25px 0;
  color: #666;
}

.price {
  margin-bottom: 40px;
}

.input-label {
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.product-quantity {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.addToWishlist {
  display: flex;
  align-items: center;
  margin-left: 60px;
  background-color: #f6f6f6;
  border: 1px solid #ebebeb;
  height: 40px;
  line-height: 37px;
  padding: 0 25px 0 15px;
  border-radius: 3px;
  margin-left: 60px;
  font-size: 10px;
  font-weight: 700;
  color: #666;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  mat-icon {
    transform: scale(0.6);
    color: #0d7a52;
  }
  &:hover {
    background-color: #0d7a52;
    color: #fff;
    mat-icon {
      color: #fff;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.input-group {
  width: 100px;
  position: relative;
  max-width: 200px;

  input {
    max-width: 50px;
    margin-left: 37px;
    color: #444;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ebebeb;
    background-color: #f6f6f6;
    text-align: center;
    border-radius: 3px;
    position: relative;
    outline: none;
  }
  button {
    position: absolute;
    height: 40px;
    border: 1px solid #ebebeb;
    color: #989898;
    background-color: #fff;
    line-height: 1;
    cursor: pointer;
  }

  .btn-dec {
    left: 0;
  }
  .btn-inc {
    right: -24px;
  }
}

.btn-add-to-cart {
  padding: 0 24px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 800;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border: none;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  background-color: #0d7a52;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #fff;
    background: #78b144;
  }
}
input[type="radio"] {
  cursor: pointer;
  appearance: none;
  border: 1px solid #ebebeb;
  padding: 0 7px;
  width: 34px;
  height: 34px;
  outline: none;
  border-width: 1px;
  border-radius: 3px;
}

input[type="radio"]:hover {
  border-color: #000;
  border-width: 3px;
}
input[type="radio"]:checked{
  border-color: #000;
  border-width: 3px;
}


.input-options {
  position: absolute;
  top: -7px;
}
.option-quantity {
  font-size: 10px;
}
.option-wrapper {
  position: relative;
  padding-left: 0;
  display: flex;
  gap: 10px;
  li {
    width: 34px;
    height: 34px;
    text-align: center;
  }
}