<div class="search-products">
  <input type="text" placeholder="Найти продукт..." [(ngModel)]="productName" />
</div>
<div *ngIf="loading; else productTable">
  <div>Loading...</div>
</div>


<ng-template #productTable>
  <div *ngIf="products?.length;">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Название продукта</th>
          <th>Цена</th>
          <th>Дата</th>
          <th>Править</th>
          <th>Удалить</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of products | search : productName;
            let idx = index
          "
        >
          <td>{{ idx + 1 }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.date | date : "medium" }}</td>
          <td class="btn-wrapper">
            <button
              class="btn btn-edit"
              [routerLink]="['/admin', 'product', product.id, 'edit']"
            >
              Edit
            </button>
          </td>
          <td class="btn-wrapper">
            <button class="btn btn-del" (click)="remove(product.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div></ng-template
>
