<div class="image" (mouseenter)="animate()" (mouseleave)="animate()">
  <quill-view-html
    [content]="product.image"
    styles="padding: 0"
  ></quill-view-html>
  <div class="btn-group">
    <button [@btnOne]="btnState" [routerLink]="['/product', product.id]">
      <mat-icon>search</mat-icon>
    </button>
    <button [@btnTwo]="btnState"><mat-icon>favorite_border</mat-icon></button>
  </div>
</div>
<div class="product-title">
  <a [routerLink]="['/product', product.id]">{{ product.title }}</a>
</div>
<div class="product-price">{{ product.price | currency }}</div>

<button class="btn-add-cart" (click)="onAddToCart(product)">
  <mat-icon fontIcon="local_mall"></mat-icon>
  <span>Добавить в корзину</span>
</button>
