<div *ngIf="discountProcent" class="bage">
  <span>-{{ discountProcent }}%</span>
</div>

<div
  class="image"
  [ngClass]="fullView ? 'active' : ''"
  (mouseenter)="animate()"
  (mouseleave)="animate()"
>
  <a [routerLink]="['/product', product.id]">
    <quill-view-html
      [content]="product.image"
      styles="padding: 0"
    ></quill-view-html
  ></a>
  <div class="btn-group">
    <button [@btnOne]="btnState" (click)="openDialog(product)">
      <mat-icon>search</mat-icon>
    </button>
    <button [@btnTwo]="btnState"><mat-icon>favorite_border</mat-icon></button>
  </div>
</div>

<div class="right-side-content" [ngClass]="fullView ? 'active' : ''">
  <div class="product-title">
    <a [routerLink]="['/product', product.id]">{{ product.title }}</a>
  </div>
  <div class="price">
    <div class="product-price">{{ product.price | currency }}</div>
    <div *ngIf="product.discount" class="regular-price">
      {{ +product.price * +product.discount | currency }}
    </div>
  </div>

  <div class="description" *ngIf="fullView">{{product.description}}</div>

  <div *ngIf="product.options; else whithoutOptions">
    <button class="btn-add-cart" [ngClass]="fullView ? 'active' : ''" (click)="openDialog(product)">
      <mat-icon fontIcon="done"></mat-icon>
      <span>Выбрать опции</span>
    </button>
  </div>
  <ng-template #whithoutOptions>
    <button class="btn-add-cart" [ngClass]="fullView ? 'active' : ''" (click)="onAddToCart(product)">
      <mat-icon fontIcon="local_mall"></mat-icon>
      <span>Добавить в корзину</span>
    </button>
  </ng-template>

  <div *ngIf="fullView" class="btn-group">
    <button [@btnOne]="btnState" (click)="openDialog(product)">
      <mat-icon>search</mat-icon>
    </button>
    <button [@btnTwo]="btnState"><mat-icon>favorite_border</mat-icon></button>
  </div>
</div>
