.image {
    position: relative;
}
.btn-group{
    position: absolute;
}
.product-title {
    font-weight: 600;
    font-family: "Wix Madefor Display",sans-serif;
    padding: 10px 0;
}

.product-title a{
    color: #444;
    display: inline-block;
}

.product-title a:hover {
    color: #0d7a52;
    text-decoration: none;
}

.product-price {
    font-weight: 700;
    padding: 10px 0;
    padding-bottom: 20px;
}

.btn-add-cart {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    background: #f0f0f0;
    padding: 10px 30px;
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.btn-add-cart mat-icon {
    font-size: 19px;
    margin-right: 10px;
}

.btn-add-cart:hover{
    background: #0d7a52;
    color: #f0f0f0;

}