<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание продукта</h1>
  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('title')?.touched && form.get('title')?.invalid
    }"
  >
    <label for="title">Название продукта:</label>
    <input id="title" type="text" formControlName="title" />
    <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
      <small *ngIf="form.get('title')?.errors?.['required']"
        >Вы ничего не ввели</small
      >
    </div>
  </div>

  <div class="form-control">
    <p>Фото:</p>
    <quill-editor formControlName="image"></quill-editor>
  </div>
  <div
    class="form-control"
    [ngClass]="{
      invalid:
        form.get('description')?.touched && form.get('description')?.invalid
    }"
  >
    <label for="description">Описание:</label>
    <input id="description" type="text" formControlName="description" />
    <div
      *ngIf="
        form.get('description')?.touched && form.get('description')?.invalid
      "
    >
      <small *ngIf="form.get('description')?.errors?.['required']"
        >Введите описание</small
      >
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('category')?.touched && form.get('category')?.invalid
    }"
  >
    <label for="category">Категория:</label>
    <select id="category" formControlName="category">
      <option value="Fruits">Fruits</option>
      <option value="Vegetable">Vegetable</option>
      <option value="Juices">Juices</option>
    </select>
    <div *ngIf="form.get('category')?.touched && form.get('category')?.invalid">
      <small *ngIf="form.get('category')?.errors?.['required']"
        >Выберете категорию товара</small
      >
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('price')?.touched && form.get('price')?.invalid
    }"
  >
    <label for="price">Цена:</label>
    <input
      id="price"
      type="number"
      formControlName="price"
      min="0"
      (change)="checkValue($event)"
    />
    <div *ngIf="form.get('price')?.touched && form.get('price')?.invalid">
      <small *ngIf="form.get('price')?.errors?.['required']"
        >Вам нужно установить цену</small
      >
    </div>

    <div class="measure-option-wrapper">
      <div class="measure-left-side">
        <div class="measure-content">
          <label for="measureValue">Мера:</label>
          <select id="measureValue" formControlName="measureValue">
            <option value="Kg">Kg</option>
            <option value="L">Liter</option>
          </select>
          <select formControlName="measureQantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="measure-price-content">
          <label for="measurePrice">Цена за ед.:</label>
          <input
            id="measurePrice"
            type="number"
            formControlName="measurePrice"
            min="1"
            (change)="checkValue($event)"
          />
        </div>
        <button type="button" (click)="addOption()">Добавить опцию</button>
        <button type="button" (click)="clearOption()">Очистить</button>
      </div>
      <div class="measure-right-side">
        Добавленные опции:
        <div class="array-of-options" *ngFor="let option of options">
          <button (click)="delOption(option)">x</button>
          <div>
            Ед. изм.: {{ option.measureQantity }}
            <span>{{ option.measureValue }}</span>
          </div>
          <div>Цена: <span>{{ option.measurePrice | currency}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid || submitted">
    Создать продукт
  </button>
</form>
