.search-input-wrapper {
  margin: 20px 0;
  text-align: right;
}
.search-input {
  width: 300px;
  padding: 5px;
  border: none;
}

.search-input:focus {
  outline-color: darkgreen;
}

h1 {
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 700;
  color: #222;
  margin-top: 40px;
}

p {
  font-family: Poppins, sans-serif;
  color: #666;
  text-align: center;
  font-weight: 400;
}
.products-list {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.producst-list--item {
  border: 1px solid #eaeaea;
  //max-width: 23%;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  flex-basis: calc(25% - 20px);
}
.producst-list--item:hover {
  border: none;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  border-bottom: 1px solid #eee;
  padding-left: 0;

  li {
    text-align: center;
    position: relative;
    filter: grayscale(1);
    cursor: pointer;
    padding: 5px 0 15px 0;
    .title-cate {
      color: #666;
      padding-top: 13px;
      font-family: "Poppins", sans-serif;
    }
    &.active {
      filter: grayscale(0);
      .title-cate {
        color: #78b144;
      }
    }
    &:hover {
      filter: grayscale(0);
      .title-cate {
        color: #78b144;
      }
    }
    &:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #78b144;
      left: 0;
      bottom: -2px;
    }

    &.active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #78b144;
      left: 0;
      bottom: -2px;
    }
  }
}
.img-cate {
  min-height: 36px;
  img {
    vertical-align: middle;
    max-width: 32px;
  }
}

.pagination {
  text-align: center;
}

.pagination ::ng-deep .ngx-pagination li.ng-star-inserted{
  margin-right: 10px;
}

.pagination ::ng-deep .ngx-pagination a {
  border-radius: 5px;
}

.pagination ::ng-deep .ngx-pagination .current {
  background: #0d7a52;
  border-radius: 5px;
  margin-right: 10px;
}